
.counter {
    font-size: 20px;
    text-align: center;
}
.content {
    width: 600px;
    max-width: 100%;
    margin: 50px auto 0;
}
.article {
    border-bottom: solid 2px #ededed;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.article h3 {
    margin-top: 0;
}
.article p {
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 1.8;
}
