html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 720px;
    max-width: 100%;
    margin: 0 auto;
}
.container > section {
    margin-top: 50px;
}
.container h2 {
    font-size: 18px;
    font-weight: normal;
}
.container .tab-switch {
    color: #4970ae;
    text-decoration: none;
}

.counter {
    font-size: 20px;
    text-align: center;
}
.content {
    width: 600px;
    max-width: 100%;
    margin: 50px auto 0;
}
.article {
    border-bottom: solid 2px #ededed;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.article h3 {
    margin-top: 0;
}
.article p {
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 1.8;
}
.header {
    background-color: #ededed;
    text-align: center;
    padding: 20px
}
.header a {
    text-decoration: none;
}
.header a >img {
    width: 300px;
    max-width: 100%;
}
.navigation {
    background-color: #7b80ae;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation a, .navigation .tab-switch {
    text-decoration: none;
    color: #fafafa;
    padding: 10px;
    margin: 0 10px;
    font-size: 18px;
}
.navigation .tab-switch.active {
    background-color: rgba(0, 0, 0, 0.1);
}
.doc-links {
    text-align: center;
    margin-top: 30px;
    border-bottom: solid 2px #ededed;
    padding-bottom: 10px
}
.doc-links a {
    padding: 10px;
    margin: 0 5px;
    color: #4970ae;
    text-decoration: none;
    font-size: 20px;
}

.separator {
    border-bottom: solid 2px #ededed;
    margin: 20px 0;
}
.tab-switch {
    background: none;
    border:none;
    cursor: pointer;
    outline: none;
}