.header {
    background-color: #ededed;
    text-align: center;
    padding: 20px
}
.header a {
    text-decoration: none;
}
.header a >img {
    width: 300px;
    max-width: 100%;
}
.navigation {
    background-color: #7b80ae;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation a {
    text-decoration: none;
    color: #fafafa;
    padding: 10px;
    margin: 0 10px;
    font-size: 18px;
}
.navigation a.active {
    background-color: rgba(0, 0, 0, 0.1);
}